# Byte-compiled / optimized / DLL files
parse__pycache__/
parse*.py[cod]
parse*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
parse/build/
parse/develop-eggs/
parse/dist/
parse/downloads/
parse/eggs/
parse/.eggs/
parse/lib/
parse/lib64/
parse/parts/
parse/sdist/
parse/var/
parse/wheels/
parse/*.egg-info/
parse/.installed.cfg
parse/*.egg
parse/MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
parse/*.manifest
parse/*.spec

# Installer logs

parse/pip-log.txt
parse/pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
request/target/

parse/target/
# Jupyter Notebook
.ipynb_checkpoints

# pyenv
request/.python-version
parse/.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
parse/.env
parse/.venv
parse/env/
parse/venv/
parse/ENV/
parse/env.bak/
parse/venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.vscode/

request/node_modules